.smog-element{

  .col-1 {
    all: revert;
    display: inline-block;
    width: 30%;
    color: rgb(231, 231, 231);
    position: relative;
    //top: -70px;
    //left: 120px;
    vertical-align: middle;
    text-align: right;
    h3 {
      //margin: 0 0 10% 0;
      margin-top: 10px;
      margin-bottom: 1%;
      padding: 0;
      font-size: 40px;
      color: rgb(231, 231, 231);
    }
    p {
      margin-top: 1%;
    }
  }
  .col-2 {
    all: revert;
    display: inline-block;

    width: 60%;

    vertical-align: middle;
    text-align: right;
    color: rgb(231, 231, 231);
    .info {
      color: rgb(231, 231, 231);
      font-size: 22px;
    }
  }
  .col-3
  {
    all: revert;
    display: inline-block;
    width: 5%;
    text-align: right;
    vertical-align: top;
    position: absolute;
    .close{
      font-size: 14px;
      color: rgb(231, 231, 231);
    }
    .close:hover {
      color: black;
      font-weight: bold;
      cursor: pointer;
    }
  }
}




